# You can get token from https://discord.com/developers/applications
BOT_TOKEN="discord bot token"

# Set to production if you don't want to use .env file (you must use this if you are using deno deploy)
MODE=production;

# Optional
SERVER_PORT=8080
AUTHOR_ID=586128640136445964 # Author id of Discord bot (used in some embeds)
BOT_COLOR="#97aee8" # Color that bot will use for embeds
