#! IMPORTANT
#! Set to DENODEPLOY if you don't want to use .env file (you must use this if you are using deno deploy)
MODE="DENODEPLOY";

# Required
## You can get token from https://discord.com/developers/applications
BOT_TOKEN="Discord bot token"

## Database
DATABASE_HOSTNAME="url.with.your.db.dev"
DATABASE_USER="postgresprobably"
DATABASE_PASSWORD="databaseuserpassword"
DATABASE="databasename"
DATABASE_PORT="5432"

# Optional
# SERVER_PORT="8080"
# AUTHOR_ID="586128640136445964"
# BOT_COLOR="#97aee8" # Color that bot will use for embeds
